.cart-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
  }
  
  .cart-item h2 {
    font-size: 18px;
  }
  
  .cart-item p {
    margin-top: 5px;
  }
  