.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .product-item h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .product-item p {
    font-size: 14px;
  }
  
  .product-item button {
    margin-top: 15px;
    width: 100%;
  }
  